* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 0;
}


/* Navigation Bar Styles*/
.nav {
  background-color: darkred;
  height: 3rem;
  color:rgb(246, 228, 228);
  /* margin-bottom: 15px; */
}
.nav h2 {
  padding: 5px;
  text-shadow: 2px 2px rgb(71, 32, 32);
}


/* Filter Area Styles */
.filters {
  position: absolute;
  margin-top: 7rem;
  margin-left: 1rem;
  box-shadow: 2px 2px 2px rgb(92, 91, 91);

  width: 15rem;
  height: 300px;
  border: 1px solid rgb(92, 91, 91);
  box-shadow: 7px 5px 5px black;
  background-color: rgb(47, 45, 45);
  opacity: 80%;
  z-index: 10;
  color: rgb(246, 228, 228);
}

.filter-header {
  padding: 5px;
  border-bottom: 1px solid lightslategray;
}

.filter-items {
  padding: 5px;
  margin-left: 0px;
  list-style-type: none;
}

.filter-items li:last-child {
  padding-top: 1em;
  font-weight: 500;
}

.filter-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom:1px dotted grey; */
  padding-left: 1em;
  padding-right: 1em;
}


/* Map Styles */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

#map {
  height: 200px;
  z-index: -10;
  position: relative;
}


.popup-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-head img {
  width: 50px;
  height: 50px;
}

.sources {
  overflow: hidden;
}