* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}


/* Navigation Bar Styles*/



/* Filter Area Styles */




/* Map Styles */
.leaflet-container {
  width: 100%;
  height: 100vh;
}

#map {
  height: 200px;
}